section.about
  .container
    +blockBox({
      caption:"What we do",
      heading:"Story about us",
      desc:"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quidem voluptates ipsam suscipit eveniet, saepe maiores et, impedit voluptatem dolore, excepturi deleniti. Error incidunt ab a eaque cupiditate quis consequatur."})
    .about-list
      +aboutItem({
        src:"../images/img-about1.png",
        title:"Super Team",
        icon:"fa fa-users"})
      +aboutItem({
        src:"../images/img-about2.png",
        title:"Super Team",
        icon:"fa fa-phone-square-alt"})
      +aboutItem({
        src:"../images/img-about3.png",
        title:"Super Team",
        icon:"fa fa-cog"})
