section.work
  .container
    +blockBox({
      caption:"What we do",
      heading:"Some of our work",
      desc:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium mollitia assumenda nostrum, libero autem vel quidem alias magni fuga blanditiis molestias officia exercitationem consequatur, quas tenetur. Doloremque officiis veritatis facere."})
  //- .work-grid
  //-     +workItem("../images/img-work1.png")
  //-     +workItem("../images/img-work2.png")
  //-     +workItem("../images/img-work3.png")
  //-     +workItem("../images/img-work4.png")
  //-     +workItem("../images/img-work5.png","fa fa-heart","Super Heart","work-item-full")
  //-     +workItem("../images/img-work6.png")
  //-     +workItem("../images/img-work7.png")
  .work-list
    .work-column
      +workItem("../images/img-work1.png")
      +workItem("../images/img-work2.png")
    .work-column
      +workItem("../images/img-work3.png")
      +workItem("../images/img-work4.png")
    .work-column
      +workItem("../images/img-work5.png","fa fa-heart","Super Heart","work-item-full")
    .work-column
      +workItem("../images/img-work6.png")
      +workItem("../images/img-work7.png")
